html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %quicksand-400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: normal;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 185px;
  width: 100%;
  max-height: 30px;
  overflow: hidden;
}

.title {
  font-size: 48px;
  @extend %roboto-700;
  color: $title;
}

.subtitle {
  font-size: 22px;
  @extend %roboto-500;
  color: $title;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 14px 10px;
  @extend %roboto-400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: $white;
  background-color: $accent;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  overflow: hidden;
}