.blog-one {

  &__img {
    max-width: 770px;
    width: 100%;
    height: 480px;
    object-fit: cover;
  }

  &__box {
    padding: 30px;
    margin-bottom: 40px;
    border: 1px solid $bg-dark;
    border-top: none;
    display: flow-root;

    h4 {
      margin-bottom: 25px;
      font-size: 22px;
      @extend %roboto-500;
      color: $title;
    }

    p {
      margin-bottom: 35px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    blockquote {
      margin-bottom: 35px;
      padding: 40px;
      font-size: 22px;
      @extend %roboto-400;
      color: $title;
      background-color: $bg;
      border-left: 3px solid $accent;
    }

    .blog-one__img-left,
    .blog-one__img-right {
      max-width: 340px;
      width: 100%;
      height: 270px;
      object-fit: cover;
    }

    .blog-one__img-left {
      float: left;
      margin-right: 30px;
    }

    .blog-one__img-right {
      float: right;
      margin-left: 30px;
    }
  }

  &__info-list {
    display: flex;
    margin-bottom: 25px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 30px;

    svg {
      margin-right: 10px;
      fill: $accent;
    }
  }

  &__item-link {
    transition: color 0.2s;
  }

  &__item-link:hover {
    color: $accent;
  }

  &__comments {

    .comments__subtitle,
    .comments__rating-subtitle {
      margin-bottom: 30px;
      padding-bottom: 0;
      font-size: 24px;
      @extend %roboto-700;
      color: $title;
      text-transform: uppercase;
    }

    .comments__rating-subtitle::before {
      content: none;
    }

    .comments__list {
      padding-bottom: 30px;
      margin-bottom: 40px;
      border-bottom: 1px solid $bg-dark;
    }
  }

  &__author {
    margin-bottom: 40px;
    border-bottom: 1px solid $bg-dark;
  }

  &__author-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 25px;
  }

  &__author-tags {
    a{
      transition: color 0.3s;
    }
    a:hover {
      color: $accent;
    }
  }

  &__author-share,
  &__author-tags {
    span {
      margin-right: 5px;
      @extend %roboto-500;
      color: $title;
      text-transform: uppercase;
    }
  }

  &__author-share {
    display: flex;
  }

  &__author-content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__author-img {
    max-width: 140px;
    height: 140px;
    margin-right: 30px;
    object-fit: cover;
  }

  &__author-name {
    margin-bottom: 20px;
    font-size: 22px;
    @extend %roboto-500;
    color: $title;
    text-transform: uppercase;
  }
}