<header class="header">
  <div class="container">
    <div class="header__inner">

      <a class="logo" href="#">
        <img class="logo__img" src="./images/logo.png" alt="logo MARCHO">
      </a>

      <nav class="header__menu">
        <button class="header__menu-btn">
          <svg width="26px" height="30px" viewBox="0 0 26 29">
            <use href="./images/sprite.svg#icon--burger-menu"></use>
          </svg>
        </button>
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link header__menu-link--active" href="#">
              Home
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">
              Shop
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">
              Page
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">
              Blog
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#">
              Contact
            </a>
          </li>
        </ul>
      </nav>

      <ul class="user-nav">
        <li class="user-nav__item">
          <a class="user-nav__item-link" href="#">
            <span class="sr-only">user</span>
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon--user"></use>
            </svg>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__item-link" href="#">
            <span class="sr-only">search</span>
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon--search"></use>
            </svg>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__item-link" href="#">
            <span class="sr-only">heart</span>
            <span class="user-nav__num">3</span>
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon--heart"></use>
            </svg>
          </a>
        </li>
        <li class="user-nav__item">
          <a class="user-nav__item-link" href="#">
            <span class="sr-only">cart</span>
            <span class="user-nav__num">7</span>
            <svg width="22" height="20">
              <use href="./images/sprite.svg#icon--cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>