@media (max-width: 440px) {

  // global-style

  // components-style

  .header {

    &__menu {
      order: 0;
    }

    &__menu-list {
      top: 150px;
    }
  }

  .user-nav {
    justify-content: end;
    margin: 0;
    padding-top: 20px;
    width: 100%;
  }

  .footer {

    &__top-list {
      gap: 50px 25px;
    }

    &__top-form {
      flex-direction: column;
    }

    &__top-btn {
      max-width: 100%;
    }
  }

  // index-style

  .top-slider {

    &__button {
      max-width: 120px;
    }
  }

  .video {

    &__popup {
      height: 200px;
    }

    &__img {
      height: 80px;
    }
  }

  .time {

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      grid-gap: 20px;
      max-width: 220px;
      margin: 0 auto;
    }
  }

  .partners {

    &__item {
      max-width: 75px;
    }
  }
}