@media (max-width: 992px) {

  // global-style
  .logo {
    max-width: 140px;

    &__img {}
  }

  .container {}

  .sr-only {}

  .main {}

  .btn {}

  .subtitle {
    font-size: 20px;
  }

  .title {
  }

  .title-text {}

  .descr {}

  .text {}

  .btn-dark {}

  .light-btn {}

  // components-style

  .header {

    &__inner {}

    &__menu {}

    &__menu-list {}

    &__menu-item {}

    &__menu-item:not(:last-child) {
      margin-right: 24px;
    }

    &__menu-link {}

    &__menu-link--active {}
  }

  .user-nav {

    &__item {}

    &__item-link {}

    &__num {}
  }

  .footer {

    &__top {}

    &__top-list {
      justify-content: start;
      flex-wrap: wrap;
      gap: 50px 30px;
    }

    &__top-items {}

    &__top-logo {}

    &__top-contact {}

    &__top-item {}

    &__top-link {}

    &__top-social-icons {}

    &__top-social-icon {}

    &__top-social-link {}

    &__top-subtitle {}

    &__top-navigation {}

    &__top-nav {}

    &__top-user {}

    &__top-text {
      max-width: 700px;
    }

    &__top-form {}

    &__top-label {
      max-width: 700px;
    }

    &__top-input {}

    &__top-btn {}

    &__bottom {}

    &__bottom-copy {}

    &__bottom-pay {}

    &__bottom-pay-items {}

    &__bottom-pay-item {}

    &__bottom-pay-img {}
  }

  // index-style

  .top-slider {
    background-size: 0%;

    &__container {}

    &__list {}

    &__item {}

    &__inner {}

    &__content {
      padding: 40px 0;
    }

    &__title {
      // max-width: 400px;
    }

    &__text {}

    &__button {}

    &__img {
      max-height: 460px;
      max-width: 400px;
    }
  }

  .categories {
    padding: 80px 0;

    &__title {}

    &__text {
      margin-bottom: 40px;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "one two"
        "three four";
    }

    &__item {
      background-position: top right;

      &:nth-child(2) {
        padding: 40px;
      }
    }

    &__descr {}

    &__subtitle {}

    &__link {}
  }

  .info {
    flex-wrap: wrap;
    margin-bottom: 80px;

    &__item {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      padding: 20px;
    }

    &__subtitle {
      padding: 15px;
    }

    &__text {
      width: 100%;
    }
  }

  .video {

    &__inner {}

    &__popup {}

    &__play {}

    &__img {}

    &__content {}

    &__descr {}

    &__title {}

    &__text {}

    &__link {}
  }

  .product {

    &__inner {}

    &__title {}

    &__text {}

    &__list {}

    &__item {}

    &__link {}
  }

  .product-item {

    &__box {}

    &__img {}

    &__link-box {}

    &__link {}

    &__content-wrapper {}

    &__content-inner {}

    &__star {}

    &__title {}

    &__price {}

    &__price-new {}

    &__price-old {}

    &__content-box {}

    &__content-text {}

    &__content-btn {}
  }

  .product-item--sale {}

  .star {}

  .promo {

    &__inner {}

    &__descr {}

    &__title {}

    &__time {}

    &__days {}

    &__text {}

    &__hours {}

    &__minutes {}

    &__seconds {}

    &__link {}
  }

  .time {

    &__items {}

    &__item {}
  }

  .partners {

    &__list {}

    &__item {}

    &__img {}
  }

  .blog {

    &__title {}

    &__text {}

    &__list {}

    &__item {}

    &__img-link {}

    &__content {}

    &__info {}

    &__author-link {}

    &__date {}

    &__subtitle {}

    &__title-link {}

    &__more-link {}
  }
}