@media (max-width: 576px) {

  // global-style

  // components-style

  .footer {

    &__top {
      padding-top: 60px;
    }

    &__top-items:first-child {
      width: 100%;
    }

    &__top-logo {
      margin-bottom: 20px;
    }

    &__top-contact {
      max-width: 400px;
      margin-bottom: 20px;
    }

    &__top-subtitle--active {
      width: 145px;
    }

    &__top-subtitle {
      margin-bottom: 20px;
      pointer-events: auto;
    }

    &__top-navigation {
      display: none;
    }

    &__bottom {
      flex-direction: column;
    }
  }

  .product-item {
    width: 100%;
    max-width: 100%;

    &__img {
      height: 230px;
    }
  }

  .top {

    &__container {
      background-position-x: 75%;
      padding: 60px 0;
    }

    &__title {
      padding-left: 30px;
      text-align: left;
    }
  }

  .bredcrumbs {
    justify-content: start;
    padding-left: 30px;

    &__list {}

    &__item {}

    &__link {}
  }

  // index-style

  .top-slider {

    .slick-dots {
      justify-content: end;
      margin-top: -65px;
    }

    &__inner {
      display: block;
    }

    &__title {
      margin-bottom: 20px;
      line-height: 1.2;
    }

    &__img,
    .slick-slide img {
      display: none;
    }
  }

  .categories {
    padding: 60px 0;

    &__item {
      width: 100%;
      background-size: contain;
      background-position: center right !important;

      &:nth-child(1) {
        background-size: 40%;
        background-position: top right !important;
      }
    }
  }

  .info {
    margin-bottom: 60px;
    gap: 20px;

    &__item {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }

    &__subtitle {
      margin: 0;
    }

    &__text {
      text-align: center;
    }
  }

  .video {
    padding: 60px 0;

    &__popup {
      height: 250px;
    }

    &__img {
      height: 100px;
    }

    &__content {
      padding: 20px 0;
    }
  }

  .product {
    padding: 60px 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  .promo {
    background-image: none !important;
    background-color: $bg;
    margin-bottom: 60px;
    padding: 60px 0;
  }

  .time {
    margin-bottom: 30px;

    &__item {
      width: 80px;
      height: 80px;
      line-height: 0.9;
    }
  }

  .blog {
    padding: 60px 0;

    &__img-link {
      & img {
        height: 200px;
      }
    }
  }

  .modal {
    padding-top: 60px;
    margin-bottom: 60px;

    &__links {}

    &__link {}

    &__link--active {}

    &__form {}
  }

  .modal-form {

    &__label {
      margin-bottom: 10px;
    }

    &__input {}

    &__text {
      margin-bottom: 10px;
    }

    &__checkbox {}

    &__check {}

    &__btn {}

    &__link {}
  }

  .page-404 {
    padding: 60px 0;

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      order: 1;
    }

    &__tittle {}

    &__text {
      max-width: 100%;
    }

    &__btn {
      margin: 0 auto;
    }

    &__img {}
  }

  .blog-page {
    padding: 60px 0;

    &__inner {}

    &__content {}

    &__item {}

    &__item-img-link {}

    &__item-box {
      padding: 20px;
    }

    &__item-subtitle {
      margin-bottom: 10px;
    }

    &__item-subtitle-link {}

    &__item-info-box {
      margin-bottom: 10px;
    }

    &__item-info {}

    &__item-author-link {}

    &__item-date {}

    &__item-text {}

    &__item-img-link--video::before {
      width: 60px;
      height: 60px;
      background-position: 54% 51%;
    }

    &__item--slider {}

    &__slider {}

    &__item-img {}

    &__item--no-image {}

    &__aside {}
  }

  .blog-one {

    &__inner {}

    &__content {}

    &__img {
      height: 200px;
    }

    &__box {

      & .blog-one__img-left,
      .blog-one__img-right {
        height: 200px;
      }

      & blockquote {
        font-size: 18px;
      }
    }

    &__info-list {}

    &__item {}

    &__item-link {}

    &__img-left {}

    &__author {}

    &__author-info {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;
      padding: 0;
    }

    &__author-tags {}

    &__author-link {}

    &__author-share {}

    &__author-social {}

    &__author-content {
      align-items: start;
      margin-bottom: 20px;
    }

    &__author-img {
      margin-right: 15px;
    }

    &__author-box {}

    &__author-name {}

    &__author-descr {}

    &__comments {}
  }

  .social {

    &__icon {}

    &__link {}
  }

  .comments {

    &__subtitle {}

    &__list {}

    &__item {}

    &__img-box {}

    &__img {}

    &__content {}

    &__content-top {}

    &__content-name {}

    &__content-date {}

    &__content-text {}

    &__content-link {}

    &__form {}

    &__rating-subtitle {}

    &__form-input-box {
      flex-direction: column;
    }

    &__form-name {}

    &__form-email {}

    &__form-textarea {}

    &__form-btn {}
  }

  .filter {

    &__list {}

    &__item {}

    &__subtitle {}

    &__search-form {}

    &__search-input {}

    &__search-btn {}

    &__btn {}

    &__category-form {}

    &__category-label {}

    &__category-input {}

    &__category-checkbox {}

    &__tags-form {}

    &__tags-label {}

    &__tags-input {}

    &__tags-checkbox {}
  }

  .person {

    &__img {}

    &__name {}

    &__post {}

    &__text {}

    &__social {}
  }

  .social {

    &__icon {}

    &__link {}
  }

  .latest-post {

    &__subtitle {}

    &__list {}

    &__item {}

    &__link {}

    &__img {}

    &__box {}

    &__title {}

    &__date {}
  }
}