@media (max-width: 440px) {

  // global-style

  // components-style

  .header {

    &__menu {
      order: 0;
    }

    &__menu-list {
      top: 150px;
    }
  }

  .user-nav {
    justify-content: end;
    margin: 0;
    padding-top: 20px;
    width: 100%;
  }

  .footer {

    &__top-list {
      gap: 50px 25px;
    }

    &__top-form {
      flex-direction: column;
    }

    &__top-btn {
      max-width: 100%;
    }
  }

  .top {

    &__container {}

    &__title {
      padding-left: 0;
    }
  }

  .bredcrumbs {
    padding-left: 0;

    &__list {}

    &__item {}

    &__link {}
  }

  // index-style

  .top-slider {

    &__button {
      max-width: 120px;
    }
  }

  .video {

    &__popup {
      height: 200px;
    }

    &__img {
      height: 80px;
    }
  }

  .time {

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-self: center;
      gap: 20px;
      max-width: 220px;
      margin: 0 auto;
    }
  }

  .partners {

    &__item {
      max-width: 75px;
    }
  }

  .modal {

    &__links {}

    &__link {}

    &__link--active {}

    &__form {}
  }

  .modal-form {

    &__label {}

    &__input {}

    &__text {}

    &__checkbox {}

    &__check {}

    &__btn {}

    &__link {}
  }

  .blog-page {

    &__inner {}

    &__content {}

    &__item {}

    &__item-img-link {
      img {
        height: 150px;
      }
    }

    &__item-box {}

    &__item-subtitle {}

    &__item-subtitle-link {}

    &__item-info-box {}

    &__item-info {}

    &__item-author-link {}

    &__item-date {}

    &__item-text {}

    &__item-img-link--video {}

    &__item--slider {
      & .slick-prev {
        left: 10px;
      }

      & .slick-next {
        right: 10px;
      }
    }

    &__slider {
      height: 150px;
    }

    &__item-img {
      height: 150px;
    }

    &__item--no-image {}

    &__aside {}
  }

  .filter {

    &__list {}

    &__item {}

    &__subtitle {}

    &__search-form {}

    &__search-input {}

    &__search-btn {
      width: auto;
    }

    &__btn {}

    &__category-form {}

    &__category-label {}

    &__category-input {}

    &__category-checkbox {}

    &__tags-form {}

    &__tags-label {}

    &__tags-input {}

    &__tags-checkbox {}
  }

  .person {

    &__img {}

    &__name {}

    &__post {}

    &__text {}

    &__social {}
  }

  .social {

    &__icon {}

    &__link {}
  }

  .latest-post {

    &__subtitle {}

    &__list {}

    &__item {}

    &__link {}

    &__img {}

    &__box {}

    &__title {}

    &__date {}
  }
}