@media (max-width: 768px) {

  // global-style

  .title {
    font-size: 32px;
  }

  // components-style

  .header {
    position: relative;

    &__menu {
      order: 1;
    }

    &__menu-btn {
      position: relative;
      display: block;
      width: 100%;
      height: 30px;
      padding: 0;
      border: none;
      background-color: transparent;

      & svg {
        fill: $title;
      }
    }

    &__menu-list {
      position: absolute;
      z-index: 10;
      top: 110px;
      left: 0;
      flex-direction: column;
      width: 100%;
      transform: translateY(-150%);
      transition: transform 0.6s;

      &.header__menu-list--active {
        transform: translateY(0%);
      }
    }

    &__menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: $bg;
      border: 1px solid $default;

      &:not(:last-child),
      &:last-child {
        margin: 0;
      }

      &:not(:last-child) {
        border-bottom: none;
      }
    }
  }

  .user-nav {
    margin: 0 40px 0 auto;
  }

  .footer {

    &__top-contact {
      max-width: 220px;
    }
  }

  .product-item--sale {

    & .product-item__box::before {
      top: 15px;
      left: 15px;
      max-width: 55px;
    }
  }

  // index-style

  .top-slider {
    padding-top: 35px;

    &__content {
      padding: 20px 0;
    }

    &__title {
      font-size: 36px;
    }

    &__text {
      margin-bottom: 25px;
    }

    &__img {
      max-height: 350px;
      max-width: 270px;
    }
  }

  .categories {

    &__list {
      display: flex;
      flex-wrap: wrap;
      min-height: 400px;
    }

    &__item {
      width: 47%;
      padding: 15px;

      &:nth-child(1) {
        background-position: 30px 10%;
        background-color: #f4dff0;
      }

      &:nth-child(2) {
        padding: 15px;
        background-position: 100% 65px;
        background-color: #d7efef;
      }

      &:nth-child(3) {
        background-position: 5px 25px;
        background-color: #fff6a7;
      }

      &:nth-child(4) {
        background-color: #ededed;
      }
    }
  }

  .product {

    &__list {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .time {

    &__items {
      justify-content: space-evenly;
    }

    &__item {
      width: 100px;
      height: 100px;

      & span {
        font-size: 32px;
      }
    }
  }

  .partners {

    &__list {
      justify-content: center;
      height: 100%;
    }

    &__item {
      margin: 10px;
    }
  }
}