@media (max-width: 576px) {

  // global-style
  .logo {

    &__img {}
  }

  .container {}

  .sr-only {}

  .main {}

  .btn {}

  .subtitle {}

  .title {}

  .title-text {}

  .descr {}

  .text {}

  .btn-dark {}

  .light-btn {}

  // components-style

  .header {

    &__inner {}

    &__menu {}

    &__menu-list {}

    &__menu-item {}

    &__menu-link {}

    &__menu-link--active {}
  }

  .user-nav {

    &__item {}

    &__item-link {}

    &__num {}
  }

  .footer {

    &__top {
      padding-top: 60px;
    }

    &__top-list {}

    &__top-items {}

    &__top-items:first-child {
      width: 100%;
    }

    &__top-logo {
      margin-bottom: 20px;
    }

    &__top-contact {
      max-width: 400px;
      margin-bottom: 20px;
    }

    &__top-item {}

    &__top-link {}

    &__top-social-icons {}

    &__top-social-icon {}

    &__top-social-link {}

    &__top-subtitle--active {
      width: 145px;
    }

    &__top-subtitle {
      margin-bottom: 20px;
      pointer-events: auto;
    }

    &__top-navigation {
      display: none;
    }

    &__top-nav {}

    &__top-user {}

    &__top-text {}

    &__top-form {}

    &__top-label {}

    &__top-input {}

    &__top-btn {}

    &__bottom {
      flex-direction: column;
    }

    &__bottom-copy {}

    &__bottom-pay {}

    &__bottom-pay-items {}

    &__bottom-pay-item {}

    &__bottom-pay-img {}
  }

  .product-item {
    width: 100%;
    max-width: 100%;

    &__box {}

    &__img {
      height: 230px;
    }

    &__link-box {}

    &__link {}

    &__content-wrapper {}

    &__content-inner {}

    &__star {}

    &__title {}

    &__price {}

    &__price-new {}

    &__price-old {}

    &__content-box {}

    &__content-text {}

    &__content-btn {}
  }

  .product-item--sale {}

  .star {}

  // index-style

  .top-slider {

    .slick-dots {
      justify-content: end;
      margin-top: -65px;
    }

    &__container {}

    &__list {}

    &__item {}

    &__inner {
      display: block;
    }

    &__content {}

    &__title {
      margin-bottom: 20px;
      line-height: 1.2;
    }

    &__text {}

    &__button {}

    &__img,
    .slick-slide img {
      display: none;
    }
  }

  .categories {
    padding: 60px 0;

    &__title {}

    &__text {}

    &__list {}

    &__item {
      width: 100%;
      background-size: contain;
      background-position: center right !important;

      &:nth-child(1) {
        background-size: 40%;
        background-position: top right !important;
      }
    }

    &__descr {}

    &__subtitle {}

    &__link {}
  }

  .info {
    margin-bottom: 60px;
    gap: 20px;

    &__item {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }

    &__subtitle {
      margin: 0;
    }

    &__text {
      text-align: center;
    }
  }

  .video {
    padding: 60px 0;

    &__inner {}

    &__popup {
      height: 250px;
    }

    &__play {}

    &__img {
      height: 100px;
    }

    &__content {
      padding: 20px 0;
    }

    &__descr {}

    &__title {}

    &__text {}

    &__link {}
  }

  .product {
    padding: 60px 0;

    &__inner {}

    &__title {}

    &__text {}

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    &__item {}

    &__link {}
  }

  .promo {
    background-image: none !important;
    background-color: $bg;
    margin-bottom: 60px;
    padding: 60px 0;

    &__inner {}

    &__descr {}

    &__title {}

    &__time {}

    &__days {}

    &__text {}

    &__hours {}

    &__minutes {}

    &__seconds {}

    &__link {}
  }

  .time {
    margin-bottom: 30px;

    &__items {}

    &__item {
      width: 80px;
      height: 80px;
      line-height: 0.9;
    }
  }

  .partners {

    &__list {}

    &__item {}

    &__img {}
  }

  .blog {

    &__title {}

    &__text {}

    &__list {}

    &__item {}

    &__img-link {}

    &__content {}

    &__info {}

    &__author-link {}

    &__date {}

    &__subtitle {}

    &__title-link {}

    &__more-link {}
  }
}