@media (max-width: 1400px) {

  // global-style

  // components-style

  .top {

    &__container {}

    &__title {}
  }

  .bredcrumbs {

    &__list {}

    &__item {}

    &__link {}
  }

  // index-style

  .top-slider {

    &__item {
      padding-left: 100px;
    }

    &__content {
      padding: 100px 0;
    }

    &__img {
      max-width: 470px;
      height: 560px;
      object-position: left;
    }
  }

  .info {
    &::after {
      bottom: -14px;
      right: -12px;
    }
  }

  .promo {
    background-position: 35%;
  }

  .blog {

    &__list::after {
      right: 5px;
    }
  }

  .modal {

    &__links {}

    &__link {}

    &__link--active {}

    &__form {}
  }

  .modal-form {

    &__label {}

    &__input {}

    &__text {}

    &__checkbox {}

    &__check {}

    &__btn {}

    &__link {}
  }
}