@media (max-width: 576px) {

  // global-style

  // components-style

  .footer {

    &__top {
      padding-top: 60px;
    }

    &__top-items:first-child {
      width: 100%;
    }

    &__top-logo {
      margin-bottom: 20px;
    }

    &__top-contact {
      max-width: 400px;
      margin-bottom: 20px;
    }

    &__top-subtitle--active {
      width: 145px;
    }

    &__top-subtitle {
      margin-bottom: 20px;
      pointer-events: auto;
    }

    &__top-navigation {
      display: none;
    }

    &__bottom {
      flex-direction: column;
    }
  }

  .product-item {
    width: 100%;
    max-width: 100%;

    &__img {
      height: 230px;
    }
  }

  // index-style

  .top-slider {

    .slick-dots {
      justify-content: end;
      margin-top: -65px;
    }

    &__inner {
      display: block;
    }

    &__title {
      margin-bottom: 20px;
      line-height: 1.2;
    }

    &__img,
    .slick-slide img {
      display: none;
    }
  }

  .categories {
    padding: 60px 0;

    &__item {
      width: 100%;
      background-size: contain;
      background-position: center right !important;

      &:nth-child(1) {
        background-size: 40%;
        background-position: top right !important;
      }
    }
  }

  .info {
    margin-bottom: 60px;
    gap: 20px;

    &__item {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }

    &__subtitle {
      margin: 0;
    }

    &__text {
      text-align: center;
    }
  }

  .video {
    padding: 60px 0;

    &__popup {
      height: 250px;
    }

    &__img {
      height: 100px;
    }

    &__content {
      padding: 20px 0;
    }
  }

  .product {
    padding: 60px 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  .promo {
    background-image: none !important;
    background-color: $bg;
    margin-bottom: 60px;
    padding: 60px 0;
  }

  .time {
    margin-bottom: 30px;

    &__item {
      width: 80px;
      height: 80px;
      line-height: 0.9;
    }
  }

  .blog {
    padding: 60px 0;

    &__img-link {
      & img {
        height: 200px;
      }
    }
  }
}