@media (max-width: 1400px) {

  // global-style

  // components-style

  // index-style

  .top-slider {

    &__item {
      padding-left: 100px;
    }

    &__content {
      padding: 100px 0;
    }

    &__img {
      max-width: 470px;
      height: 560px;
      object-position: left;
    }
  }

  .info {
    &::after {
      bottom: -14px;
      right: -12px;
    }
  }

  .promo {
    background-position: 35%;
  }

  .blog {

    &__list::after {
      right: 5px;
    }
  }
}